/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
@font-face{
    font-family: 'Plain-Light';
    src: url('fonts/Plain-Light.otf') format('opentype')
}
@font-face{
    font-family: 'Plain-Medium';
    src: url('fonts/Plain-Medium.otf') format('opentype')
}

header{
    font-family: 'Plain-Light';
    margin-left:23px;
	font-size: 25px;
	padding-top: 30px;
    padding-bottom:20px;
    /* width: 100%; */
    /* background-color: red; */
}

.top-header{
    display: grid;
	grid-template-columns: auto auto auto;
	margin-left:36px;
}
.top-header > div {
	height:40px;
	/* display: flex; */
	/* align-items: center */
	/* padding-top: 20px; */
	/* padding-bottom: 20px; */
}

#sign-in, #home {
	/* font-size: 20px; */
	/* color: #584E4A; */
	position: relative;
	/* text-transform: uppercase; */
	color: black;
	text-decoration: none;
	padding-bottom: 8px;
  }
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

#sign-in:before, #sign-in:after,
#home:before, #home:after
 {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #F37272;
  }
  #sign-in:before,
  #home:before
  {
	opacity: 0;
	-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
	-webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #sign-in:after,
  #home:after
  {
	opacity: 0;
	-webkit-transform: translateY(4px);
			transform: translateY(4px);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #sign-in:hover:before, #sign-in:hover:after, #sign-in:focus:before, #sign-in:focus:after,
  #home:hover:before, #home:hover:after, #home:focus:before, #home:focus:after
  
  {
	opacity: 1;
	-webkit-transform: translateY(0);
			transform: translateY(0);
  }
  #sign-in:hover:before, #sign-in:focus:before, 
  #home:hover:before, #home:focus:before 
  {
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #sign-in:hover:after, #sign-in:focus:after, 
  #home:hover:after, #home:focus:after 
  {
	-webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.login {
    margin-right:1.0em;
	text-align: end;
}

#fb-login {
	padding-right: 50px;
	/* padding-left: 50px; */
}

#sign-in{
	margin-right:50px;
}

#sign-in:hover {
    text-transform: underline;
}

/*  */
.main{
    display: grid;
    grid-template-columns: 60px auto auto;
    position: center;
}

.side-header{
    height: 100%;
    /* padding:40px; */
}

.image-pos {
    width: 800px;
    height: 560px;
    background-image: url('../images/office3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.description-content{
    margin-top:10em;
}
.mini-title > a {
    font-family: 'Plain-Light';
    font-size: 18px;
    color: rgb(186,186,186);
    margin-left:-275px;
    cursor: pointer;
    z-index: 5;
}
.title {
    position: relative;
    margin-left: -3.5em;
    /* margin-right: 1em; */
    /* overflow: visible; */
    font-family: 'Plain-Medium';
    font-size: 80px;
}

.sub-content{
    color: rgb(76,76,76);
    font-family: 'Plain-Light';
    margin-top: 7em;
    /* margin-right: 90px; */
    margin-left: 45px;
    max-width: 380px;
    letter-spacing: 0.28px;
    line-height: 28px;
    /* line-break: auto; */

}


/*  */

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	position: absolute;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	margin: -0.37rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 1.8rem;
	left: 0;
	line-height: 1.5rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 1.8rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

.register {
	width: 100%
}

/* button */

  .buttons-coll {
	width: 90%;
	margin: 50px auto;
	text-align: center;
  }
  button {
	margin-top: 50px;
	margin-left: 100px;
  }
  .custom-btn {
	padding: 10px 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background: transparent;
	outline: none !important;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
  }

  .btn-4 {
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
  }
  .btn-4 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
  }
  .btn-4:before, .btn-4:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background: #000;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .btn-4:before {
	height: 50%;
	width: 2px;
  }
  .btn-4:after {
	width: 20%;
	height: 2px;
  }
  .btn-4:hover:before {height: 100%;}
  .btn-4:hover:after {width: 100%;}
  .btn-4 span:before, .btn-4 span:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: #000;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .btn-4 span:before {
	width: 2px;
	height: 50%;
  }
  .btn-4 span:after {
	width: 20%;
	height: 2px;
  }
  .btn-4 span:hover:before {height: 100%;}
	.btn-4 span:hover:after {width: 100%;}
	
/* sign in */
	/* body{
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1464278533981-50106e6176b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca5f9140f345647ac9bc4c1597a56404&auto=format&fit=crop&w=667&q=80');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    z-index: -10;
} */

#overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    
}

.loginbox{
    width: 320px;
    height: 360px;
    /* color: #000; */
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,  -50%);
    box-sizing: border-box;
		border-radius: 3%;
		font-family: 'Plain-Light', sans-serif;
    /* box-shadow: 8px 8px 50px #000; */
}
.loginbox > h1{
    color: #fff;
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}
 
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #bdc3c7;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #ccc;
}


.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #2ecc71;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #27ae60;
    color: #fff;
    
}

.loginbox a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.loginbox a:hover {
    color: #fff;
    opacity: 1;
}

#text-account {
    font-size: 14px;
    color: #fff;
    opacity: 0.4;
}

#create-account:hover {
    text-decoration: underline;
    font-weight: bold;
}

#reg{
	font-family: 'Plain-Light', sans-serif;
}